# https://docs.neoforged.net/docs/advanced/accesstransformers
public net.minecraft.client.gui.components.MultilineTextField$StringView
public net.minecraft.client.gui.components.MultilineTextField$StringView <init>(II)V
